// 布局公共样式
@import '~@/assets/css/common.scss';
@import '~@/common/components/header/style.scss';
@import '~@/common/components/footer/style.scss';


#container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
